<div *ngIf="!match">

      


  <!-- Simulation info -->
  <div class="panel panel-default">
      <div class="panel-heading">
              <h1>Résultat de la simulation</h1>
      </div>
      <div class="panel-body">
        
        <nav class="navbar">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a (click)="pitchDisplayType()">Par terrain</a></li>
                <li><a (click)="groupDisplayType()">Par groupes</a></li>
                <li><a (click)="timeDisplayType()">Par horaire</a></li>
            </ul>
          </div>
        </nav>
        
        <ng-container *ngFor="let matchs of matchsGroupBy">
                  <my-match-list [matchs] = "matchs.planning"></my-match-list>
                  <hr/>
        </ng-container>

 
        
      </div>
  </div>
  <!--End Simulation info -->
</div>


