<div class="list-group">
    <!--    
    <button type="button" *ngFor="let person of people"   class="list-group-item list-group-item-action" (click)="selectPerson(person)" >
        {{person.name}} {{person.height}} {{person.weight}} 
    </button>
    -->
    <div type="button" *ngFor="let person of people"   class="" (click)="selectPerson(person)" >
        <a class="list-group-item list-group-item-action" [routerLink]="['/persons', person.id]">{{person.name}} {{person.height}} {{person.weight}} </a>
    </div>
</div>  

