
  <div *ngIf="tournament">  
    <div>
  <a [routerLink]="['/responsible/tournaments']" class="btn btn-primary btn-sm"><i class="fa fa-arrow-left" aria-hidden="true"> Liste des tournois</i></a>
  <a [routerLink]="['/responsible/tournaments', tournament.id, 'edit']" class="btn btn-primary btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"> Modifier</i></a>
  <a (click)="deleteTournament()" class="btn btn-danger btn-sm"><i class="fa fa-trash-o" aria-hidden="true"> Supprimer</i></a>
    </div>

  <form>

    <div class="form-group">
      <label>ID</label>
      <input type="text" class="form-control" name="id" readonly [(ngModel)]="tournament.id">
    </div>

    <div class="form-group">
      <label>Nom</label>
      <input type="text" class="form-control" readonly name="nom_tournoi" [(ngModel)]="tournament.nom_tournoi">
    </div>

    <div class="form-group">
      <label>Date de référence (date de début)</label>
      <input type="date" class="form-control" readonly name="date_tournoi" [(ngModel)]="tournament.date_debut">
    </div>

    <div class="form-group">
      <label>Statut du tournoi</label>
      <input type="text" class="form-control" readonly name="statut_tournoi" [(ngModel)]="tournament.statut_tournoi">
    </div>

    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

    <div class="form-group full-width">
      <a [routerLink]="['/responsible/tournament', tournament.id, 'groups']" class="btn btn-success btn-sm"><i class="fa fa-gears" aria-hidden="true"> Gestion du tournoi</i></a>
    </div>
  </form>
</div>
