
<div *ngIf="teams" class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr><th>Nom de l'équipe </th><th>niveau</th></tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let team of teams" >
              
                <tr class="odd gradeX" [routerLink]="['/responsible/tournament', tournamentId, 'teams', team.id_equipe] ">
                        <td>{{team.nom_equipe}}</td>   <td>{{team.niveau}}</td>                                                           
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>

