<div *ngIf="displayRankings">

  <div class="panel panel-default">
      <div class="panel-heading">
              <h1>Classement(s)</h1>
      </div>
      <div class="panel-body">
        
        <ng-container *ngFor="let groupsRanking of displayRankings">
            <div class="panel panel-default">
                <div class="panel-heading">
                        {{groupsRanking.nom_groupe}}
                </div>
                <div class="panel-body">
                    
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr><th>#</th><th>Equipe</th><th>Pts</th><th>J</th><th>G</th><th>P</th><th>Sg/Sp</th><th>Pg/Pp</th></tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let ranking of groupsRanking.classement; let i = index;" >
                                    <tr class="odd gradeX" >
                                    <th>{{i+1}}</th>
                                    <th>{{ranking.nom_equipe}}</th>
                                    <th>{{ranking.points_actuels}}</th>
                                    <th>{{ranking.matchs_joues}}</th>
                                    <th>{{ranking.matchs_gagnes_3pts + ranking.matchs_gagnes_2pts}}</th>
                                    <th>{{ranking.matchs_perdus_1pt + ranking.matchs_perdus_0pt}}</th>
                                    <th>{{ranking.sets_ratio | number : '1.3'}}</th>
                                    <th>{{ranking.points_sets_ratio | number : '1.3'}}</th>
                                    </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-container>

      </div>
  </div>
</div>