<div *ngIf="tournament">
  <div>
    <a [routerLink]="['/responsible/tournaments']" class="btn btn-primary btn-sm"><i class="fa fa-arrow-left" aria-hidden="true"> Retour à la liste</i></a>
    <a (click)="deleteTournament()" class="btn btn-danger btn-sm"><i class="fa fa-trash-o" aria-hidden="true"> Supprimer ce tournoi</i></a>
  </div>
  <form (ngSubmit)="updateTournament()">

  <div class="form-group">
      <label>ID</label>
      <input type="text" class="form-control" name="id" readonly [(ngModel)]="tournament.id">
  </div>

  <div class="form-group">
      <label>Nom</label>
      <input type="text" class="form-control" name="nom_tournoi" [(ngModel)]="tournament.nom_tournoi">
    </div>

    <div class="form-group">
      <label>Date de référence (date de début)</label>
      <input type="date" class="form-control" name="date_tournoi" [(ngModel)]="tournament.date_debut">
    </div>

    <div class="form-group">
      <label>Statut du tournoi</label>
      <select class="form-control" name="statut_tournoi" [(ngModel)]="tournament.id_statut" (change)="modifyStatut()">
          <option *ngFor="let statut of statuts" [value]="statut.id_statut">{{statut.nom_statut}}</option>
      </select>
    </div>

    <div *ngIf="askToConfirm">
      <div class="col-sm-12 form-group">
        <p>Attention, si vous êtes passé d'un statut de CLOS/OUVERT à un staut de NOUVEAU.</p>
        <p class="text-danger">Cela entrainera la suppression des plans des matchs et résultats. </p>
        <p>Les groupes, équipes et coachs sont conservés. </p>
      </div>
    </div>

    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

    <button type="submit" class="btn btn-success">Mettre à jour</button>

  </form>




</div>
<router-outlet></router-outlet>
