<div *ngIf="!match">

  <!-- Simulation info -->
  <div class="panel panel-default">
      <div class="panel-heading">
              <h1>Résultat de la simulation</h1>              
      </div>
      <div class="panel-body">
        <button *ngIf="!configSimul.auto_arbitrage" (click)="newDragDropSimul()" class="btn btn-info btn-block">Déplacer des matchs et des équipes (en manuel)</button>
        <nav class="navbar">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a class="my-pointer" [ngClass]="{'text-danger': displayType=='terrain'}" (click)="pitchDisplayType()">Par terrain</a></li>
                <li><a class="my-pointer" [ngClass]="{'text-danger': displayType=='groupe'}" (click)="groupDisplayType()">Par groupes</a></li>
                <li><a class="my-pointer" [ngClass]="{'text-danger': displayType=='heure'}" (click)="timeDisplayType()">Par horaire</a></li>
            </ul>
          </div>
        </nav>
        
        <ng-container *ngFor="let matchs of matchsGroupBy">
          <div class="panel panel-default">
                <div class="panel-heading">
                        {{matchs.nameBlock}}
                </div>
                <div class="panel-body">
                  <my-match-list [matchs] = "matchs.planning"></my-match-list>
                </div>
          </div>
        </ng-container>  
      </div>
  </div>
  <!--End Simulation info -->
</div>


