<!--
<a routerLink="/responsible/tournament/', tournament.id,'/groups" class="btn btn-sm btn-info">Créer un groupe</a>
-->
<h1>Tournoi</h1>
<div *ngIf="tournament" class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Date (réf)</th><th>Nom</th><th>Statut</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd gradeX" [routerLink]="['/responsible/tournaments', tournament.id, 'edit']">
                        <td>{{tournament.date_debut}}</td>
                        <td>{{tournament.nom_tournoi}} {{tournament.id_statut}}</td>
                        
                        <ng-container [ngSwitch]="tournament.id_statut">
                            <td *ngSwitchCase="'1'" class="info">{{tournament.statut_tournoi}}</td>
                            <td *ngSwitchCase="'2'" class="success">{{tournament.statut_tournoi}}</td>
                            <td *ngSwitchCase="'3'" class="danger">{{tournament.statut_tournoi}}</td>
                            <td *ngSwitchDefault  class="warning"> ??</td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>      

<!-- <my-groups></my-groups> -->
<!-- <my-teams></my-teams> -->
<router-outlet></router-outlet>