<div class="panel panel-default">
    <div class="panel-heading">
            Liste des tournois:<small> Ouverts (statut=2) et clos(=3)</small>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>id</th><th>Date (réf)</th><th>Nom</th><th>Statut</th><th>ID-creator</th>
                    </tr>
                </thead>
                <tbody>

                    <ng-container *ngFor="let tournament of tournaments" >
                        <tr *ngIf="tournament.id_statut > 1" class="odd gradeX" [routerLink]="['/public/tournaments/', tournament.id] ">
                                <td>{{tournament.id}}</td>
                                <td>{{tournament.date_debut}}</td>
                                <td>{{tournament.name}}</td>
                                <td>{{tournament.id_statut}}</td>
                                <td>{{tournament.id_user}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        
    </div>
</div>
