<div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>
<div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>

<div *ngIf="team && groups && coachs && tournament">  
  <a *ngIf="tournament.id_statut == 1" (click)="deleteTeam()" class="btn btn-danger btn-sm"><i class="fa fa-trash-o" aria-hidden="true"> Supprimer</i></a>

  <form (ngSubmit)="updateTeam()">

    <div class="form-group">
      <label>ID</label>
      <input type="text" class="form-control" name="id" readonly [(ngModel)]="team.id_equipe">
    </div>

    <div class="form-group">
      <label>Nom</label>
      <input type="text" class="form-control" name="nom_equipe" required [(ngModel)]="team.nom_equipe">
    </div>

    <div class="form-group">
      <label>Niveau/Catégorie (M15, M16...)</label>
      <input type="text" class="form-control" name="niveau" [(ngModel)]="team.niveau">
    </div>

    <div *ngIf="groups && tournament.id_statut == 1" class="form-group">
      <label>Groupe</label>
      <select class="form-control" name="id_groupe" [(ngModel)]="team.id_groupe">
          <option *ngFor="let g of groups" [value]="g.id_groupe">{{g.nom_groupe}}</option>
      </select>
    </div>
    
    <div *ngIf="coachs" class="form-group">
      <label>Coach</label>
      <select class="form-control" name="id_personne" [(ngModel)]="team.id_personne" >
          <option *ngFor="let c of coachs" [ngValue]="c.id_personne">{{c.nom}} {{c.prenom}}</option>
      </select>
    </div> 

    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <button type="submit" class="btn btn-success">Vadlider la modification</button>
  </form>
</div>

