<div class="panel panel-default">
    <div class="panel-heading">
            <h1>Simulation - paramètres</h1>
    </div>
    <div class="panel-body">
        <div *ngIf="!tournoiNouveau">
            <p>Pour simuler un tournoi, ce dernier doit avoir le statut NOUVEAU.</p>
            <p class="text-danger">Vous pouvez changer le statut d'un tournoi, cepedant le passer au statut NOUVEAU entrainera la perte des matchs, plannings et résultat</p>
        </div>
        <div *ngIf="configSimul && tournoiNouveau">
            <form (ngSubmit)="simulPlanning()">
                <div class="col-sm-12 form-group">
                    <div class="col-sm-6"><label>Heure de début</label></div>
                    <div class="col-sm-3"><input type="number" min="0" max="23" class="form-control" name="heure_debut_h" required [(ngModel)]="configSimul.heure_debut_h"></div>
                    <div class="col-sm-3"><input type="number" min="0" max="59" step="5" class="form-control" name="heure_debut_min" required [(ngModel)]="configSimul.heure_debut_min"></div>
                </div>

                <div class="col-sm-12 form-group">
                    <div class="col-sm-6"><label>Durée d'un match [min]</label></div>
                    <div class="col-sm-6"><input type="number" class="form-control" min="5" max="240" step="5" name="match_duree" required [(ngModel)]="configSimul.match_duree"></div>
                </div>

                <div class="col-sm-12 form-group">
                    <div class="col-sm-6"><label>Nombre de terrains</label></div>
                    <div class="col-sm-6"><input type="number" class="form-control" min="1" name="nb_terrains" [(ngModel)]="configSimul.nb_terrains"></div>
                </div>

                <div *ngIf="configSimul.nb_terrains>=groups.length" class="col-sm-12 form-group">  
                    <div class="col-sm-10"><label>Les matchs d'un groupe se déroulent sur le même terrain</label></div>
                    <div class="col-sm-2"><input type="checkbox" [checked]="configSimul.matchs_meme_terrain" (change)="playSamePitch()" /></div>
                </div>


                <div *ngIf="configSimul.matchs_meme_terrain" class="col-sm-12 form-group">
                <!--<div class="col-sm-12 form-group">-->
                    <div class="col-sm-10"><label>Les équipes sont-elles amenées à faire de l'arbitrage</label></div>
                    <div class="col-sm-2"><input type="checkbox" [checked]="configSimul.auto_arbitrage" (change)="configSimul.auto_arbitrage = !configSimul.auto_arbitrage" /></div>
                </div>

                <div class="col-sm-12 form-group">  
                    <div class="col-sm-10"><label>Voulez-vous prévoir une pause dans le planning (repas) ?</label></div>
                    <div class="col-sm-2"><input type="checkbox" [checked]="configSimul.pausePresence" (change)="configSimul.pausePresence = !configSimul.pausePresence" /></div>

                    <ng-container *ngIf="configSimul.pausePresence">
                        <div class="col-sm-12 form-group">
                            <div class="col-sm-8"><label>Heure de début de la pause (approx)</label></div>
                            <div class="col-sm-2"><input type="number" min="0" max="23" class="form-control" name="pause_debut_h" required [(ngModel)]="configSimul.pause_debut_h"></div>
                            <div class="col-sm-2"><input type="number" step="10" min="00" max="59" class="form-control" name="pause_debut_min" required [(ngModel)]="configSimul.pause_debut_min"></div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="col-sm-8"><label>Durée de la pause [min]</label></div>
                            <div class="col-sm-4"><input type="number" step="10" class="form-control" min="5" max="240" name="pause_duree" required [(ngModel)]="configSimul.pause_duree"></div>
                        </div>
                    </ng-container>
                </div>

                

                <div class="col-sm-12 form-group">
                    <button type="submit" class="btn btn-warning btn-block">Lancer la simulation</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
<div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>


<my-matchs *ngIf="simulLaunched" [groupsPlan] = "groupsPlan" [configSimul] = "configSimul"></my-matchs>

<div *ngIf="readyToDbPush"  class="panel panel-default">
    <div class="panel-heading">
            <h1>Prêt pour sauvegarder les données</h1>
    </div>
    <div class="panel-body">
        <div class="col-sm-12 form-group">
            <p>Opération définitive, le tournoi passera en statut "Ouvert".</p>
        </div>
        <div class="col-sm-12 form-group">
            <button type="submit" (click)="InsertDataMatchsToDB()" class="btn btn-danger btn-block">Valider et inscire les données</button>
        </div>
    </div>
</div>